.projects-page{

    padding:30px;

}
.projects-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.projects-header h2{
    margin:0;
    font-size:32px;
    font-weight:700;
    color:#ffffff;
}

.projects-header p{
    margin-top:8px;
    color:#94a3b8;
    font-size:15px;
}
.add-project-btn{
    display:flex;
    align-items:center;
    gap:10px;

    background:#2563eb;
    color:white;

    border:none;
    border-radius:12px;

    padding:12px 22px;

    font-size:15px;
    font-weight:600;
    width: 250px;
    cursor:pointer;

    transition:.25s;
}

.add-project-btn:hover{
    background:#1d4ed8;
}
.search-box{
    display:flex;
    align-items:center;
    gap:12px;
   
    background:#1b2436;
    border:1px solid #313d57;

    padding:14px 18px;

    border-radius:14px;

    margin-bottom:30px;
}

.search-box svg{
    color:#94a3b8;
    font-size:16px;
}

.search-box input{
    flex:1;

    background:transparent;

    border:none;

    outline:none;

    color:black;

    font-size:15px;
}

.search-box input::placeholder{
    color:#64748b;
}

.projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(360px,1fr));
    gap:24px;
}